.blog__heading {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

.blog__content-heading {
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.blog__date {
    display: flex;
    padding: 20px 0;
}

.blog__date-year {
    border-right: 1px solid black;
    padding-right: 15px;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
}

.blog__date-text {
    padding-left: 15px;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.blog__content-description {
    font-weight: normal;
    font-size: 16px;
    max-width: 670px;
}

.blog__content {
    padding-bottom: 15px;
    margin-top: 20px;
    border-bottom: 1px solid #E0E0E0;
}