* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.background {
    width: 100%;
    background: url(../img/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1050px;
    padding: 36px 20px 0;
    margin: 0 auto;
}

.headers {
    display: flex;
    align-items: baseline;
}

.header__title {
    font-weight: bold;
    font-size: 24px;
}

.header__menu {
    display: flex;
    padding-left: 117px;
}

.header__menu-item {
    padding-right: 30px;
    font-weight: 600;
    font-size: 14px;
    color: #737373;
}

.header__business {
    margin-top: 130px;
    max-width: 510px;
}

.header__business-heading {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
}

.header__business-decription {
    margin: 35px 0;
    max-width: 376px;
    color: #737373;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.header__business-button {
    padding: 20px 50px;
    margin: 0 10px;
    background: #FFA62B;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #FFA62B;
    border-radius: 35px;
}

.header__business-button:hover {
    margin: 0 10px;
    padding: 20px 50px;
    font-weight: bold;
    font-size: 14px;
    color: #00A0C1;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #00A0C1;
    border-radius: 35px;
}

.header__posts {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50px;
}

.header__posts-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    background: #ffffff;
    padding: 35px 40px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.178);
}

.header__posts-block:hover {
    background: #00A0C1;
    transform: translate(5px,5px);
}
.header__posts-block:hover path {
    fill: white;
}
.header__posts-block:hover h3 {
    color: #fff;
}
.header__posts-block:hover p {
    color: #fff;
}

.header__posts-heading {
    padding: 10px 0;
    color: #252B42;
    font-weight: bold;
    font-size: 24px;
}

.header__posts-text {
    color: #737373;
    font-weight: 500;
    font-size: 14px;
}

.header__posts-block2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    background: #00A0C1;
    padding: 35px 40px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.178);
}

.header__posts-heading2 {
    padding: 10px 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

.header__posts-text2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
}

.choice {
    background: #FAFAFA;
}

.choice__header {
    margin: 190px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice__header-heading {
    font-weight: bold;
    font-size: 40px;
}

.choice__header-descprition {
    padding: 10px 0;
    color:#737373;
    font-weight: 500;
    font-size: 14px;
    max-width: 510px;
    text-align: center;
}

.choice__blocks {
    display: flex;
    justify-content: space-between;
}

.choice__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 209px;
    background: #fff;
}

.choice__block-heading {
    font-weight: bold;
    font-size: 40px;
    padding: 10px 0;
}
.choice__block-text {
    font-weight: bold;
    font-size: 16px;
}

.advice {
    background: #FAFAFA;
    padding-bottom: 100px;
}

.advice__header {
    margin: 190px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advice__header-heading {
    font-weight: bold;
    font-size: 40px;
}

.advice__header-descprition {
    padding: 10px 0;
    color:#737373;
    font-weight: 500;
    font-size: 14px;
    max-width: 510px;
    text-align: center;
}

.advice__blocks {
    display: flex;
    justify-content: space-between;
}

.advice__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    background: #fff;
}

.advice__block-heading {
    padding: 29px 29px 0;
    font-weight: bold;
    font-size: 16px;
}

.advice__block-text {
    padding: 15px 20px 30px;
    font-weight: 500;
    font-size: 14px;
}

.service__header {
    margin: 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__header-heading {
    font-weight: bold;
    font-size: 40px;
}

.service__header-descprition {
    padding: 10px 0;
    color:#737373;
    font-weight: 500;
    font-size: 14px;
    max-width: 510px;
    text-align: center;
}

.service__content {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.service__content-right {
    padding-left: 120px;
}

.service__content-header {
    font-weight: bold;
    font-size: 40px;
}

.service__content-descprition {
    color: #737373;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 0 50px;
}

.service__content-post {
    display: flex;
}

.service__content-header {
    padding-left: 20px;
}

.service__content-heading {
    font-weight: bold;
    font-size: 16px;
}

.service__content-descprition {
    color: #737373;
    font-weight: 600;
    font-size: 14px;
}

.clients {
    background: #FAFAFA;
}

.clients__package {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 100px;
}

.clients__newsletter {
    max-width: 986px;
    background: #16697A;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    position: relative;
    top: 50px;
    margin: 0 auto;
}

.clients__newsletter-header {
    font-weight: bold;
    font-size: 24px;
    max-width: 250px;
    color: #fff;
}

.clients__newsletter-email {
    display: flex;
}

.clients__newsletter-input {
    width: 333px;
    padding-left: 20px;
    border-radius: 10px 0 0 10px;
}

.clients__newsletter-button {
    width: 117px;
    background: #FFA62B;
    color: #fff ;
    font-weight: normal;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
}

.clients_BG {
    height: 77px;
    background: #252B42;
}

.contact {
    background: #FAFAFA;
    padding-bottom: 150px;
}

.contact__header {
    margin: 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__header-heading {
    font-weight: bold;
    font-size: 40px;
}

.contact__header-descprition {
    padding: 10px 0;
    color:#737373;
    font-weight: 500;
    font-size: 14px;
    max-width: 510px;
    text-align: center;
}

.contact__cards {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.contact__cards-elements {
    background: #fff;
    width: 328px;
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__cards-icon {
    padding-bottom: 15px;
}

.contact__cards-support {
    padding: 15px 0 25px;
}

.contact__cards-button {
    color: #FFA62B;
    border: 1px solid #FFA62B;
    background: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

.contact__cards-elements:hover {
    transform: scale(1.2,1.2);
    background: #252B42;
}
.contact__cards-elements:hover path {
    fill: #fff;
}
.contact__cards-elements:hover h6 {
    color: #fff;
}
.contact__cards-elements:hover h5 {
    color: #fff;
}
.contact__cards-elements:hover button {
    color: #fff;
    border: 1px solid #fff;
    background: #252B42;
}

.footer__agency {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1000px;
    padding: 0 20px;
    margin: 40px auto;
}

.footer__agency-heading {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
}

.footer__agency-text {
    font-weight: 500;
    font-size: 14px;
}

.footer__agency-button {
    font-weight: bold;
    font-size: 14px;
    background: #FFA62B;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
}

.footer__news {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background: #16697A;
    padding: 50px 0;
}

.footer__new-heading {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    padding-bottom: 20px;
}

.footer__new-element {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    padding-bottom: 10px;
}

.footer__new-contact {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    padding-bottom: 10px;
}

.footer__new-text {
    padding-left: 10px;
}

.footer__links {
    display: flex;
    margin-bottom: 25px;
}

.footer__links-icon {
    padding-left: 20px;
}