@media(max-width: 560px) {
    .headers {
        flex-direction: column;
        align-items: center;
    }
    .header__menu {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .header__title {
        align-self: flex-start;
    }
    .header__menu-item {
        padding-top: 30px;
    }
}

@media(max-width: 650px) {
    .choice__blocks {
        flex-wrap: wrap;
        justify-content: center;
    }
    .clients__package {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .clients__package-icon {
        padding-bottom: 20px;
    }
    .service__content-img {
        width: 100%;
        height: auto;
    }
    .contact__cards {
        flex-direction: column;
        align-items: center;
    }
    .contact__cards-elements {
        margin-bottom: 10px;
        padding: 50px;
        width: auto;
        height: auto;
    }
    .footer__agency {
        flex-direction: column;
    }
    .footer__agency-button {
        margin-top: 50px;
    }
}

@media(max-width: 1060px) {
    .header__posts {
        flex-direction: column;
        align-items: center
    }
    .header__posts-block {
        margin-bottom: 30px;
    }
    .header__business {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .header__business-heading {
        text-align: center;
    }
    .header__business-decription {
        text-align: center;
    }
    .header__business-button2 {
        margin: 20px 0;
    }
    .advice__blocks {
        flex-wrap: wrap;
        justify-content: center;
    }
    .advice__block {
        margin: 30px;
    }
    .service__header-heading {
        text-align: center;
    }
    .service__content-header {
        padding: 0;
    }
    .service__content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .service__content-right {
        padding: 50px 0 0;
    }
    .service__content-icon {
        padding-right: 10px;
    }
    .footer__news {
        flex-wrap: wrap;
    }
    .footer__new-info {
        padding: 20px 50px;
    }
}

@media(max-width: 1100px) {
    .clients_BG {
        background: #fff;
    }
}

@media(max-width: 720px) {
    .clients__newsletter {
        flex-direction: column;
        align-items: center;
    }
    .clients__newsletter-header {
        text-align: center;
    }
    .clients__newsletter-email {
        width: 100%;
        margin-top: 30px;
    }
    .clients__newsletter-input {
        padding: 15px;
        width: auto;
    }
}