@media(max-width: 600px) {
    .header__techologist {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 50px;
    }
    .header__techologist-content{
         text-align: center;
    }
    .header__menu {
        display: none;
    }
    .burger {
        display: flex;
        justify-content: end;
        display: block;
        margin-top: 20px;
        margin-left: auto;
    }
}

@media(max-width: 700px) {
    .posts__header-view {
        display: none;
    }
    .potst__blocks {
        flex-wrap: wrap;
    }
    .post:nth-child(1) {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .post {
        width: 100%;
    }
}

@media(max-width:320px) {
    .post__date {
        flex-wrap: wrap;
    }
    .post__date-text {
        padding: 0;
    }
}

@media(max-width: 650px) {
    .featured__heading, .work__heading {
        text-align: center;
    }
    .featured__news, .work {
        flex-wrap: wrap;
        margin: 0 0 30px;
    }
    .featured__news-right, {
        padding: 15px 0 0 0;
    }
    .work__rigth {
        padding: 1rem 0 0 0 !important;
    }
}   