*{
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.burger{
    border: 1px solid red ;
    width: 50px;
    padding: 5px 15px;
    display: none;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
}

.header__menu-item {
    padding: 20px 0 0 30px;
}

.header__techologist {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.header__techologist-heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
}

.header__techologist-decription{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    padding: 32px 0 30px;
}

.header__user-image {
    width: 232px;
    height: 224px;
}

.header__techologist-content {
    max-width: 497px;
}

.header__techologist-buttin {
    font-family: 'Poppins', sans-serif;
    padding: 10px 15px;
    background-color: #ff6464;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

.posts {
    background: #EDF7FA;
    padding-bottom: 40px;
}

.posts__header {
    display: flex;
    justify-content: space-between;
    padding: 15xp 0;
    font-family: 'Poppins', sans-serif;
}

.posts__header-recent {
    font-size: 22px;
}

.posts__header-view {
    font-size: 16px;
    color: #00A8CC;
}

.potst__blocks {
    display: flex;
}

.post {
    background: #fff;
    border-radius: 4px;
    padding: 15px;
    width: 50%;
}

.post:nth-child(1) {
    margin-right: 15px;
}

.post__heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
}

.post__date {
    display: flex;
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}

.post__date-year {
    padding-right: 15px;
    border-right: 1px solid #21243D;
}

.post__date-text {
    padding-left: 15px;
}

.post__description {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

.wrapper {
    margin: 30px 0;
    font-family: 'Poppins', sans-serif;
}

.featured__heading {
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
}

.featured__news {
    display: flex;
    margin-top: 30px;
    border-bottom: 1px solid #E0E0E0;
}

.featured__news-right {
    padding-left: 20px;
}

.featured__date {
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.featured__news-heading{
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
}

.featured__date-year {
    background: #142850;
    color: #fff;
    border-radius: 19px;
    padding: 4px 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
}

.featured__date-text {
    padding-left: 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    margin-left: 15px;
}

.featured__news-descprition {
    max-width: 594px;
    padding-top: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

.footer__icons {
    text-align: center;
}

.footer__icon {
    padding-left: 15px;
}

.footer__copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
}