.works__heading {
    font-size: 3rem;
}

.work {
    display: flex;
    margin: 2rem 0;
    padding-bottom: 3rem;
    border-bottom: 1px solid #E0E0E0;
}

.work__heading {
    font-size: 2rem;
}

.work__rigth{
    padding-left: 2rem;
}

.work__date {
    display: flex;
    font-size: 1rem;
    align-items: baseline;
    padding: 0.8rem 0;
}

.work__date-year {
    background: #142850;
    color: #FFFFFF;
    padding: 1px 1rem;
    border-radius: 16px;
}

.work__date-text {
    padding-left: 10px;
    color: #8695A4;

}

.work__description {
    font-size: 1.15rem;
    max-width: 60rem;
}