.detail__heading {
    font-size: 2em;
    max-width: 15em;
}

.detail__date {
    display: flex;
    font-size: 1.5em;
    align-items: baseline;
    padding: 0.5em 0;
}

.detail__date-year {
    color: #fff;
    background: #FF7C7C;
    padding: 0 0.3em;
    border-radius: 1.5em;
    margin-right: 1em;
}

.detail__description {
    font-size: 1em;
    max-width: 42em;
}

.detail__img {
    margin: 0.8em 0;
    max-width: 100%;
}

.detail__car {
    max-width: 40em;
}

.detail__car-heading {
    font-size: 2em;
}

.detail__car-subheading {
    font-size: 1.5em;
    margin: 0.75em 0;
}